
<template name="filters">
    <div class="todo-filters">
        <ul class="{{activeFilter}}">
            {{#each filtersList}}
                {{> oneFilter}}
            {{/each}}
        </ul>
    </div>
</template>