
<template name="todoList">
    {{> filters filtersList=filtersList activeFilter=activeFilter}}
    <div class="todo-list">
       <ul>
           {{#if todos.length}}
               {{#each todos}}
                   {{> oneTodo}}
               {{/each}}
           {{else}}
               <li class="empty">
                   <p>Todos not found...</p>
               </li>
           {{/if}}
       </ul>
    </div>
</template>