
<template name="oneTodo">
    <li class="{{class}}">
        <a class="todo-title" data-id="{{_id}}" href="#">
            <span class="text">{{text}}</span>
            <span class="time">{{createdAt}}</span>
        </a>
        <a class="todo-edit" data-id="{{_id}}" href="#"><i class="fa fa-pencil-square-o"></i></a>
        <a class="todo-delete" data-id="{{_id}}" href="#"><i class="fa fa-times"></i></a>
    </li>
</template>