
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, button, input[type="submit"] {
  cursor: pointer;
  transition: .3s;
}

ul, ul li {
  list-style-type: none;
}

body {
  background: #ddd;
  font-family: Arial;
  font-size: 16px;
  .wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 30px;
    background: #fff;
    border: 1px solid #666;
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 20px;
      .title {
        flex-grow: 1;
      }
      .sort {
        display: flex;
        align-items: center;
        margin: 0 20px;
        .select {
          position: relative;
          margin-left: 10px;
          .change-sort {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            color: #333;
            border: 1px solid #333;
            text-decoration: none;
            padding: 5px 0;
            i {
              margin-left: 5px;
            }
            &:hover {
              background: #333;
              color: #fff;
            }
          }
          &.open .change-sort {
            background-color: #ccc;
            color: #000;
          }
          & > ul {
            position: absolute;
            z-index: 1;
            display: block;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            left: 0;
            top: 100%;
            border: 1px solid #333;
            border-top: 0;
            transition: .3s;
            li {
              border-bottom: 1px solid #333;
              &:last-child {
                border: 0;
              }
              &.selected {
                a {
                  background: #333;
                  color: #fff;
                }
              }
              a {
                display: block;
                padding: 5px 0;
                background: #fff;
                color: #333;
                text-decoration: none;
                text-align: center;
                &:hover {
                  background: #333;
                  color: #fff;
                }
              }
            }


          }
          &.open > ul {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .add a {
        display: flex;
        align-items: center;
        color: #333;
        border: 1px solid #333;
        text-decoration: none;
        padding: 5px 15px;
        i {
          margin-right: 5px;
        }
        &:hover {
          background: #333;
          color: #fff;
        }
      }
    }
    .todo-filters {
      margin: 0 0 20px;
      background: #ddd;
      ul {
        position: relative;
        display: flex;
        align-items: center;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: calc(100% / 3);
          height: 100%;
          background-color: #333;
          transition: .5s;
        }
        &.all:before {
          left: 0;
        }
        &.active:before {
          left: calc(100% / 3);
        }
        &.closed:before {
          left: calc(100% / 3 * 2);
        }
        li {
          width: calc(100% / 3);
          a {
            position: relative;
            display: flex;
            height: 35px;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #000;
          }
          &.active a {
            color: #fff;
          }
        }
      }
    }
    .todo-list {
      border-top: 1px solid #333;
      ul li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #333;
        background: #fff;
        transition: .3s;
        &:hover {
          background: #eee;
        }
        .todo-title, .todo-edit, .todo-delete {
          padding: 10px 10px;
          color: #000;
          text-decoration: none;
        }
        .todo-title {
          flex-grow: 1;
          &:hover {
            padding-left: 15px;
          }
          .text {
            display: block;
            margin: 0 0 5px;
            font-size: 18px;
          }
          .time {
            display: block;
            font-size: 12px;
            color: #333;
          }
        }
        &.closed .todo-title .text {
          text-decoration: line-through;
        }
        .todo-edit, .todo-delete {
          font-size: 18px;
          &:hover {
            transform: scale(1.3);
          }
        }
        &.empty {
          &:hover {
            background: #fff;
          }
          p {
            flex-grow: 1;
            padding: 20px 0;
            font-size: 18px;
            text-align: center;
          }
        }
      }
    }
  }
  .fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    &.opened {
      opacity: .7;
      visibility: visible;
    }
  }
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 60%;
    min-width: 290px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    background: #fff;
    padding: 30px;
    &.opened {
      opacity: 1;
      visibility: visible;
    }
    h3 {
      text-align: center;
      font-size: 18px;
      margin: 0 0 20px;
    }
    .input {
      width: 90%;
      margin: 0 auto 20px;
      input {
        display: block;
        width: 100%;
        height: 36px;
        padding: 0 10px;
        border: 1px solid #999;
        font-size: 16px;
        transition: .3s;
        &.error {
          border: 1px solid #E72323;
          background: #FBD0D0;
        }
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        display: block;
        padding: 5px 15px;
        margin: 0 5px;
        color: #333;
        border: 1px solid #333;
        background: #fff;
        font-size: 16px;
        &:hover {
          background: #333;
          color: #fff;
        }
      }
    }
  }
}