
@media (max-width: 600px) {

  body {
    .wrapper {
      padding: 15px;
      header {
        flex-direction: column;
        .title {
          font-size: 14px;
          margin: 0 0 15px;
        }
        .sort {
          margin: 0 0 15px;
        }
      }
      .todo-list {
        ul li {
          .todo-title, .todo-edit, .todo-delete {
            padding: 7px 5px;
          }
          .todo-title {
            &:hover {
              padding-left: 10px;
            }
            .text {
              margin: 0 0 2px;
              font-size: 14px;
            }
            .time {
              font-size: 11px;
            }
          }
          &.empty {
            p {
              padding: 15px 0;
              font-size: 16px;
            }
          }
        }
      }
    }
    .popup {
      min-width: 280px;
      padding: 20px 10px;
      h3 {
        font-size: 16px;
        margin: 0 0 15px;
      }
      .input {
        margin: 0 auto 15px;
        input {
          height: 28px;
          font-size: 14px;
        }
      }
    }
  }
  
}