
<template name="popups">

    <div class="fade {{#if opened}}opened{{/if}}"></div>

    <div class="popup {{#if isAdd}}opened{{/if}}">
        <h3>Add new todo:</h3>
        <form data-form="add" class="addForm">
            <div class="input">
                <input type="text" name="todo" value="" placeholder="Todo...">
            </div>
            <div class="buttons">
                <button type="submit"><i class="fa fa-check"></i> Save</button>
                <button type="button" class="cancel-button"><i class="fa fa-times"></i> Cancel</button>
            </div>
        </form>
    </div>

    <div class="popup {{#if isEdit}}opened{{/if}}">
        <h3>Edit todo:</h3>
        <form data-form="edit" class="editForm">
            <div class="input">
                <input type="text" name="todo" value="" placeholder="Todo...">
            </div>
            <div class="buttons">
                <button type="submit">Save</button>
                <button type="button" class="cancel-button">Cancel</button>
            </div>
        </form>
    </div>

    <div class="popup {{#if isDelete}}opened{{/if}}">
        <h3>Delete "{{deletingTodo}}"?</h3>
        <div class="buttons">
            <button type="button" class="delete-button"><i class="fa fa-check"></i> Delete</button>
            <button type="button" class="cancel-button"><i class="fa fa-times"></i> Cancel</button>
        </div>
    </div>

</template>