
<template name="header">
    <header>
        <div class="title">
            <h1>Todo App</h1>
        </div>
        <div class="sort">
            <span>Sort by:</span>
            <div class="select {{#if openSort}}open{{/if}}">
                <a class="change-sort" href="#">{{activeSort "title"}} <i class="fa {{activeSort "icon"}}"></i></a>
                <ul>
                    {{#each sortTypes}}
                        {{> oneSortType}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="add">
            <a href="#"><i class="fa fa-plus"></i> Add</a>
        </div>
    </header>
</template>